@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f2da;
  --background-indent: #f2eacc;
  --background-secondary: #dcdfc1;
  --background-secondary-hover: #d6dc9d;
  --accent: #196637;
  --accent-hover: #10aa62;
  --accent-hover-secondary: #02855e;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --background-indent: #323030;
    --background-secondary: #373737;
    --background-secondary-hover: #4b4848;
    --accent: #c89eed;
    --accent-hover: #947bd3;
    --accent-hover-secondary: #7f63c7;
    --text: #efe8f2;
  }
}